{% extends "resturant/base.html" %}
{% block content %}
	<div class="about-heading">
			<h2>About us</h2>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-4">
				<img src="/static/blog/images/about-img-3.jpg">
		    </div>
		    <div class="col-md-4">
				<img src="/static/blog/images/about-img-4.jpg">
		    </div>
		    <div class="col-md-4">
				<img src="/static/blog/images/s3.jpg">
		    </div>
		</div>
		<div class="col-md-6 content-area">
			<p><b>STAR CHAAT CUISINE</b> is an Indian restaurant located in the Dublin, California</p>

			<p>Try us and you'll be convinced! Our recipes are authentic and time-tested. The ingredients are always fresh. The result? A menu that bursts with flavor.</p>

			<p>At <b>STAR CHAAT CUISINE</b>, we know that sound and smell intimately, from our own kitchens growing up. We have experienced the deliciousness that happens when our moms bring out their spice tiffins, and get their magic on.</p>
		</div>

	</div>
{% endblock content %}