{% extends "resturant/base.html" %}
{% block content %}
	<div class="about-heading">
			<h2>Catering
		</div>
	</div>

<div class="container">
<div class="row catering">

            <div class="col-md-4 tiny ">
              <div class="content-catering">	
            	<div class ="pricing-table-header-img">
            	<img src="/static/blog/images/package-1.jpg">
                </div>
                <div class="pricing-table-header">
                    <h3>TANDOORI CONCEPT</h3>
                     <p class="text-right price"><b>Price :</b>$14.99/person</p>
                </div>
                <div class="pricing-table-features">
                    <ul>
						<li>1 Appetizer</li>
						<li>1 Sizzler</li>
						<li>2 Vegetables</li>
						<li>1 Lentil</li>
						<li>Assorted Breads</li>
						<li>Jeera Rice</li>
						<li>Raita</li>
						<li>House Salad</li>
						<li>Dessert (Choose 1) </li>
						<li>Rasmalai/Gulab Jamun/ Kheer</li>
					</ul>
                </div>
              </div>	  
            </div>

            <div class="col-md-4 tiny ">
              <div class="content-catering">	
            	<div class ="pricing-table-header-img">
            	<img src="/static/blog/images/package-2.jpg">
                </div>
                <div class="pricing-table-header">
                    <h3>HOUSE PARTY PACKAGE</h3>
                     <p class="text-right price"><b>Price :</b>$13.99/person</p>
                </div>
                <div class="pricing-table-features">
                    <ul>
						<li>1 Appetizer</li>
						<li>1 Special Appetizer</li>
						<li>2 Vegetables</li>
						<li>1 Lentil</li>
						<li>Roti/Paratha/Naan</li>
						<li>Jeera Rice</li>
						<li>Raita</li>
						<li>House Salad</li>
						<li>Dessert (Choose 1) </li>
						<li>Rasmalai/Gulab Jamun/ Kheer</li>
					</ul>
                </div>
               </div> 
            </div>

            <div class="col-md-4 tiny ">
              <div class="content-catering">	
            	<div class ="pricing-table-header-img">
            	<img src="/static/blog/images/package-3.jpg">
                </div>
                <div class="pricing-table-header">
                    <h3>ALL OCCASION</h3>
                     <p class="text-right price"><b>Price :</b>$22.99/person</p>
                </div>
                <div class="pricing-table-features">
					<ul>
					  <li>2 Appetizers</li>
					  <li>1 Special Appetizer</li>
					  <li>3 Vegetables</li>
					  <li>1 Lentil</li>
					  <li>Assorted Breads</li>
					  <li>1 Rice item</li>
					  <li>Raita</li>
					  <li>Salad</li>
					  <li>Dessert (Choose 2)</li>
					  <li>Rasmalai/Gulab Jamun/Kalakand/Barfi/</li>
					</ul>
                </div>

            </div>
          </div>
         </div>
</div>


{% endblock content %}