{% extends "resturant/base.html" %}
{% load static %}
{% block content %}

    <!-- bradcam_area_start -->
  <div class="bradcam_area breadcam_bg_1 overlay">
    <h3>Contact Us</h3>
</div>
<!-- bradcam_area_end -->
<div class="about_area about-inner" style="padding-bottom:0px">
        <div class="container">
            <div class="row align-items-center">
              
                <div class="col-md-12">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <h3 class="head_1">HOW TO FIND US :</h3>
                        </div>
						
						<div class="map">
						<iframe src="https://maps.google.com/maps?q=Star%20Chaat%20Cuisine%2C%204930%20Dublin%20Blvd%20%23800%2C%20Dublin%2C%20CA%2094568%2C%20United%20States&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
						</div>
						
						
                 
                    
                    </div>
                </div>
				  <div class="col-xl-12 col-lg-12 col-md-12 contact_area" >
                    <div class="about_thumb2 row">
                        <div class="col-sm-6">
						<div class="left_cont">
						<h4 class="head-cont">Address</h4>
						<p>4930 Dublin Blvd #800,
Dublin, CA 94568,
United States</p>
					
							
                        </div>
						<div class="left_cont">
						<h4 class="head-cont">Phone</h4>
            <p><a href="tel:+1 510-513-9700">+1 510-513-9700 , +1 925-404-7700</a></p>
					
							
                        </div>
						<div class="left_cont">
						<h4 class="head-cont">E-mail</h4>
            <p><a href="mailto:customerservice.starchaat@gmail.com">customerservice.starchaat@gmail.com</a></p>
					
							
                        </div>
						</div>
                        <div class="col-sm-6 contact-form">
						<h3>Contact Form</h3>
					
          <form action="{% url 'resturant-contact' %}" method="POST">
            {% csrf_token %}
                    <!--Grid column-->
                   
                        <div class="form-group"> 
  <div class=" inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><img src="{% static 'blog/img/name.png' %}"></span>
  <input name="full_name" placeholder="Full Name*" class="form-control" type="text">
    </div>
  </div>

                    </div>
                    <!--Grid column-->

			
					<div class="form-group"> 
  <div class=" inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><img src="{% static 'blog/img/mob.png' %}"></span>
  <input name="phone" placeholder="Phone Number*" class="form-control" type="text">
    </div>
  </div>
  </div>
					
					 <!--Grid column-->
               
					<div class="form-group"> 
  <div class=" inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><img src="{% static 'blog/img/mail.png' %}"></span>
  <input name="email" placeholder="Email Address*" class="form-control" type="email">
    </div>
  </div>
  </div>

                 
                    <!--Grid column-->
					 <!--Grid column-->
               
					<div class="form-group"> 
  <div class=" inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><img src="{% static 'blog/img/mail.png' %}"></span>
  <input name="message" placeholder="Messages*" class="form-control" type="text">
    </div>
  </div>
  </div>

                 
                    <!--Grid column-->
					 <!--Grid column-->
                  



 <div class="btn-submit new-btn">
			<div class="btn-area"> <input type="submit" value="Send" class="btn btn-primary" style="padding-left: 10px !important;" /></div>
	
  </div>
 </form>

						
						
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <div class="bottom-area">
  <h2>WE LOVE TO HEAR FROM YOU</h2>
  <p>
Have questions or comments? We value your communication & would love for you to share with us.<br> 
Contact Tarka directly!</p>
  </div>
{% endblock content %}