{% extends "resturant/base.html" %}
{% block content %}
	<div class="about-heading">
			<h2>Contact Us</h2>
		</div>
	</div>
	<!-- contact -->
	<div class="contact">
		<div class="container">
			<div class="map">
				<h4>How to find us :</h4>
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12626.685814070222!2d-121.8850775!3d37.7039143!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb0e128c20194748d!2sMatsu%20Sushi%20Dublin!5e0!3m2!1sen!2sin!4v1571561986480!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			</div>
			<div class="address">
				<div class="col-md-4 address-grids">
					<h4>Address :</h4>
					<ul>
						<li><p>4930 Dublin Blvd #800, <br>
								Dublin, CA 94568,<br>
								United States</p>
						</li>
					</ul>
				</div>
				<div class="col-md-4 address-grids">
					<h4>Phone :</h4>
					<p>+1 510 945-9224</p>
				</div>
				<div class="col-md-4 address-grids">
					<h4>Email :</h4>
					<p><a href="mailto:singha752@yahoo.com">singha752@yahoo.com</a></p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!---728x90--->
			<div class="contact-infom">
				<h4>WE LOVE TO HEAR FROM YOU</h4>
				<p>Have questions or comments? We value your communication & would love for you to share with us. Contact Tarka directly!</p>
			</div>	
			<div class="contact-form">
				<h4>Contact Form</h4>
				<form action="#" method="post">
					<input type="text" placeholder="Name" required="">
					<input type="email" placeholder="Email" required="">
					<input type="text" placeholder="Telephone" required="">
					<textarea placeholder="Message" required=""></textarea>
					<button class="btn1">Submit</button>
				</form>
			</div>	
		</div>
	</div>
	<!-- //contact -->
{% endblock content %}