{% extends "resturant/base.html" %}
{% load static %}
{% block content %}

    <!-- bradcam_area_start -->
  <div class="bradcam_area breadcam_bg_1 overlay">
    <h3>Gallery</h3>
</div>

   <!-- gallery_start -->
    <div class="gallery_area">
  <div class="container">
  <div class="row">
         <div class="col-sm-4">
            <div class="single_gallery big_img">
      
                    <a class="popup-image" href="{% static 'blog/img/Aloo_vada.jpg' %}">
                        <i class="ti-plus"></i>
                    </a>
                <img src="{% static 'blog/img/Aloo_vada.jpg' %}" alt="">
        <div class="desc">
        <h3>Aloo Vada</h3>
        <p>Indulge Yourself in The Taste of flavored Mashed Potato Dumplings Served with Chutneys</p>
        </div>
            </div>
      </div>
      <div class="col-sm-4">
            <div class="single_gallery small_img">
                <a class="popup-image" href="{% static 'blog/img/Dahi-Bhalla.jpg' %}">
                    <i class="ti-plus"></i>
                </a>
                <img src="{% static 'blog/img/Dahi-Bhalla.jpg' %}" alt="">
        <div class="desc">
        <h3>Dahi Vada/Bhalla</h3>
        <p>Soft Fried Lentil Dumplings Topped With Chilled Yogurt, Potato, Onion, Crispy Wafers And Chutneys</p>
        </div>
            </div>
      </div>
      <div class="col-sm-4">
            <div class="single_gallery small_img">
                <a class="popup-image" href="{% static 'blog/img/chowmain.jpg' %}">
                    <i class="ti-plus"></i>
                </a>
                <img src="{% static 'blog/img/chowmain.jpg' %}" alt="">
        <div class="desc">
        <h3>Veg Chow Mein</h3>
        <p>Made with stir-fried cabbage, carrots, green-onions mixed with chow Mein noodles in a savory sauce</p>
        </div>
            </div>
      </div>
      <div class="col-sm-4">
    
            <div class="single_gallery small_img">
                <a class="popup-image" href="{% static 'blog/img/Veg_manchurian.jpg' %}">
                    <i class="ti-plus"></i>
                </a>
                <img src="{% static 'blog/img/Veg_manchurian.jpg' %}" alt="">
        <div class="desc">
        <h3>Vegetarian Manchurian Dry/Gravy</h3>
        <p>Palatable and Satiating  dish of mixed vegetable dumplings in a glossy, rich-brown chef’s special sauce with bold notes...</p>
        </div>
            </div>
      </div>
      <div class="col-sm-4">
            <div class="single_gallery small_img">
                <a class="popup-image" href="{% static 'blog/img/idly_sambar.jpg' %}">
                    <i class="ti-plus"></i>
        
                </a>
                <img src="{% static 'blog/img/idly_sambar.jpg' %}" alt="">
        <div class="desc">
        <h3>Idly Sambar</h3>
        <p>Savory Rice Cakes Served With Lentil-based Vegetable Stew or Chowder, Cooked With Dal and Tamarind.</p>
        </div>
            </div>
      </div>
      <div class="col-sm-4">
            <div class="single_gallery big_img">
                <a class="popup-image" href="{% static 'blog/img/chole-bhture.jpg' %}">
                    <i class="ti-plus"></i>
                </a>
                <img src="{% static 'blog/img/chole-bhture.jpg' %}" alt="">
        <div class="desc">
        <h3>Chole Bhature</h3>
        <p>Soft and puffy fried leavened bread served with spiced tangy gravy of chick-peas; comes with onions and pickles on the side.</p>
        </div>
            </div>
      </div>
      <div class="col-sm-4">
       
    <div class="single_gallery small_img">
                <a class="popup-image" href="{% static 'blog/img/veg-biryani.jpg' %}">
                    <i class="ti-plus"></i>
                </a>
                <img src="{% static 'blog/img/veg-biryani.jpg' %}" alt="">
        <div class="desc">
        <h3>Mix-Veggie Biryani</h3>
        <p>A healthy and delicious assortment of vegetables and rice-layers of aromatic long grain basmati rice and mixed vegetables; Served with cucumber raita.</p>
        </div>
            </div>
      </div>
      <div class="col-sm-4">
            <div class="single_gallery small_img">
                <a class="popup-image" href="{% static 'blog/img/shahi_dum_aloo.jpg' %}">
                    <i class="ti-plus"></i>
        
                </a>
                <img src="{% static 'blog/img/shahi_dum_aloo.jpg' %}" alt="">
        <div class="desc">
        <h3>Shahi Dum Aloo</h3>
        <p>Delicious and Creamy dish of potatoes stuffed with mixture of ground dry-fruits in spicy onion-tomato and yogurt gravy.</p>
        </div>
            </div>
      </div>
      <div class="col-sm-4">
            <div class="single_gallery big_img">
                <a class="popup-image" href="{% static 'blog/img/aloo_paratha.jpg' %}">
                    <i class="ti-plus"></i>
                </a>
                <img src="{% static 'blog/img/aloo_paratha.jpg' %}" alt="">
        <div class="desc">
        <h3>Aloo Paratha</h3>
        <p>Pan-fried Whole Wheat Bread, Stuffed With Spiced Mashed Potatoes and cilantro.</p>
        </div>
            </div>
        </div>
    <div class="col-sm-4">
            <div class="single_gallery big_img">
                <a class="popup-image" href="{% static 'blog/img/papdi_chaat.jpg' %}">
                    <i class="ti-plus"></i>
                </a>
                <img src="{% static 'blog/img/papdi_chaat.jpg' %}" alt="">
        <div class="desc">
        <h3>Papdi Chaat</h3>
        <p>Yummy Snack Assorted With a Crunchy Base of ‘Papdi’ (crisp pooris), topped with lip-smacking chutneys, veggies and curd.</p>
        </div>
            </div>
        </div>
    <div class="col-sm-4">
            <div class="single_gallery big_img">
                <a class="popup-image" href="{% static 'blog/img/gulab_lassi.jpg' %}">
                    <i class="ti-plus"></i>
                </a>
                <img src="{% static 'blog/img/gulab_lassi.jpg' %}" alt="">
        <div class="desc">
        <h3>Gulab Lassi</h3>
        <p>Rose Flavored Refreshing Classical Indian Yogurt Drink.</p>
        </div>
            </div>
        </div>
    <div class="col-sm-4">
            <div class="single_gallery big_img">
                <a class="popup-image" href="{% static 'blog/img/gajjar_halwa.jpg' %}">
                    <i class="ti-plus"></i>
                </a>
                <img src="{% static 'blog/img/gajjar_halwa.jpg' %}" alt="">
        <div class="desc">
        <h3>Gajjar Halwa</h3>
        <p>A Delicious Indian Dessert Made With Grated Carrots, Whole Milk(Khoya), Dried Fruits And Nuts</p>
        </div>
            </div>
        </div>
    </div>
    
    <ul class="pagination">
  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>

     </div>
    </div>

   
<!-- bradcam_area_end -->
{% endblock content %}



