{% extends "resturant/base.html" %}
{% block content %}
		<div class="about-heading">
			<h2>Menu</h2>
		</div>
	</div>
	<!-- //banner -->
	<!-- Menu -->
      <div class="row menu-items">
        <p class="text-center course-heading">Appetizers</p>
        <div class="col-md-4">
          <h3>Potato Peas Samosa</h3>
          <p>Crispy Fried Dumplings, Spiced Potatoes And Peas Served With Chutney </p>
          <p class="text-right price"><b>Price :</b>$3.99</p>

        </div>
         <div class="col-md-4">
          <h3>French Fries</h3>
          <p>Long, Thin Pieces Of Potato That Are Fried and Served With Ketchup</p>
          <p class="text-right price"><b>Price :</b>$2.99</p>
        </div>
        <div class="col-md-4">
          <h3>Bombay Vada Pav</h3>
          <p>Spiced Potato Ball Sandwiched Between Two Slices Of Pav Served With Chutneys</p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div> 

        <div class="col-md-4">
          <h3>Batata Vada</h3>
          <p>Spiced Potato Balls Served With Chutneys</p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div>

        <div class="col-md-4">
          <h3>Vegie Burger</h3>
          <p>Burger Served With Potato Fries And Choice Of Soda</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

        <div class="col-md-4">
          <h3>Dabeli</h3>
          <p>Potato Mixture Filled Into A Pav And Topped With Onion, Pomegranate, Cilantro, Peanuts And Sev</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

                <div class="col-md-4">
          <h3>Dahi Papdi Chaat</h3>
          <p>Crispy Wafers Layered With Potato, Sev, Onion, Sprouts, Chutney, Yogurt, Chickpeas And Spices</p>
        <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

                <div class="col-md-4">
          <h3>Dahi Bhalla</h3>
          <!--<img src="/static/blog/images/dahi-bhalla.jpg" class="menu-image"> -->
          <p>Soft Fried Lentil Dumplings Topped With Chilled Yogurt, Potato, Onion, Crispy Wafers And Chutneys </p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

                <div class="col-md-4">
          <h3>Pani Poori</h3>
          <p>Crispy Puffed Wafers Served With Spicy Mint Water, Chutneys, Potatoes, Onion, Sprouts And Chickpeas</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

                        <div class="col-md-4">
          <h3>Bhel Poori</h3>
          <p>Puffed Rice Mixed With Crispy Wafers, Chickpeas, Potato, Sprouts, Onion, Sev And Chutneys</p>
        <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

                        <div class="col-md-4">
          <h3>Hara Bhara Bhel</h3>
          <p>Puffed Rice Mixed With Cucumber, Tomato, Crispy Wafers, Chickpeas, Potato, Sprouts, Onion, Sev And Chutneys</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

                        <div class="col-md-4">
          <h3>Sprouts Bhel</h3>
          <p>Sprouts Lentil Tossed With Potato, Onion, Sev, Tomato, Cucumber, Chickpeas And Chutneys</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

                                <div class="col-md-4">
          <h3>Dahi Bateta Sev Poori</h3>
          <p>Round Crispy Puffed Wafers Stuffed With Sprouts, Potatoes, Yogurt, Onion, Chickpeas And Chutney Sprinkled With Sev</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

                                <div class="col-md-4">
          <h3>Sev Poori</h3>
          <p>Round Crispy Puffed Wafers Stuffed With Sprouts, Potatoes, Onion, Chickpeas And Chutney Sprinkled With Sev</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

        <div class="col-md-4">
          <h3>Masala Chaat</h3>
          <p>Crispy Wafers Layered With Potato, Cucumber, Sprouts, Tomato, Sev, Onion, Chutney, Chickpeas And Spices</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

                <div class="col-md-4">
          <h3>Chaat Basket</h3>
          <p>Basket Shaped Wafer Stuffed With Potato, Cucumber, Sprouts, Tomato, Onion, Chutney, Chickpeas And Sprinkled With Sev</p>
          <p class="text-right price"><b>Price :</b>$6.99</p>
        </div>

                <div class="col-md-4">
          <h3>Hara Bhara Kabab</h3>
          <p>Vegetables Patties Made With Spinach, Ginger, Potato, Broccoli And Spices Served With Yogurt And Chutneys</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

                <div class="col-md-4">
          <h3>Chaat Samosa</h3>
          <p>Crispy Fried Dumplings Served With Garbanzo Curry, Topping With Chutneys And Onion </p>
          <p class="text-right price"><b>Price :</b>$6.99</p>
        </div>

                        <div class="col-md-4">
          <h3>Aloo Tikki With Chana</h3>
          <p>Potato Patty Served With Garbanzo Curry, Topping With Onion And Chutneys</p>
          <p class="text-right price"><b>Price :</b>$6.99</p>
        </div>

                        <div class="col-md-4">
          <h3>Pakoras - ( Mix Veg /Paneer /Chili )</h3>
          <p>Deep Fried Chickpea Flour Batter Fritters Served With Chutneys</p>
          <p class="text-right price"><b>Price :</b>$6.99</p>
        </div>

                        <div class="col-md-4">
          <h3>Usal Pav</h3>
          <p>Green Peas Curry Served With Pav, Onions, Garlic Chutney And Green Chilies</p>
          <p class="text-right price"><b>Price :</b>$7.99</p>
        </div>

                        <div class="col-md-4">
          <h3>Misal Pav</h3>
          <p>Sprouted Moth Beans Topped With Onion, Cilantro, Served With Lemon And Toasted Pav</p>
          <p class="text-right price"><b>Price :</b>$7.99</p>
        </div>

                                <div class="col-md-4">
          <h3>Ragada Pattice</h3>
          <p>Peas Cooked With Special Indian Sauce Served With Mashed Potato Patties And 
Chutneys </p>
<p class="text-right price"><b>Price :</b>$6.99</p>
        </div>

      </div>

      <div class="row menu-items">
        <p class="text-center course-heading">Vegetables Entrees</p>
        <div class="col-md-4">
          <h3>Fresh Aloo Methi</h3>
          <p>Potatoes And Fresh Fenugreek Leaves Cooked With Herbs And Spices</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                <div class="col-md-4">
          <h3>Aloo Jeera Masala</h3>
          <p>Potatoes Cooked With Royal Cumin, Ginger, Garlic And Spices</p>
          <p class="text-right price"><b>Price :</b>$8.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Aloo Gobi Mattar / Aloo Gobi</h3>
          <p>Cauliflower Cooked With Potatoes, Peas And Seasoned Spices </p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Aloo Baigan</h3>
          <p>Eggplant And Potatoes Cooked Together In House Special Spices</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Aloo Palak</h3>
          <p>Potatoes Cooked With Fresh Spinach Seasoned With Spices</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Shahi Dum Aloo</h3>
          <p>Stuffed Potatoes Cooked In An Onion Gravy With Special Spices </p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Veg N Chaat Cuisine (Signature Dish)</h3>
          <p>Garden Vegetables, Coconut Milk, Curry Leaves</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Malai Paneer</h3>
          <p>Home Made Cheese Cooked With Onion Gravy In Special Creamy Sauce</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Paneer Tikka Masala</h3>
          <p>Home Made Cheese Cooked With Ginger, Garlic, Spring Onion And Special Creamy Sauce</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Malai Kofta</h3>
          <p>Vegetable Dumplings Cooked With Herbs And Spices In A Creamy Sauce</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
         <div class="col-md-4">
          <h3>Aloo Asparagus</h3>
          <p>Potatoes And Asparagus Cooked Together In House Special Spices</p>
          <p class="text-right price"><b>Price :</b>$10.99</p>
        </div>
        <div class="col-md-4">
          <h3>Masala Bhindi</h3>
          <p>Fresh Okra Tossed With Onion, Ginger, Garlic, Tomatoes And Special Spices</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
        <div class="col-md-4">
          <h3>Baigan Bhartha / Bhartha Paneer</h3>
          <p>Fresh Eggplant Baked And Cooked With Traditional Indian Spices</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
        <div class="col-md-4">
          <h3>Mix Veg Sabji</h3>
          <p>Fresh Mixed Vegetables Cooked With Ginger, Garlic, Tomato And Spices </p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
        <div class="col-md-4">
          <h3>Mix Veg Korma</h3>
          <p>Fresh Mix Vegetables Cooked In A Special Creamy Sauce</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
        <div class="col-md-4">
          <h3>Saag Paneer</h3>
          <p>Garden Fresh Spinach And Mustard Cooked With Ginger, Garlic, Onion, Tomato With Home Made Cheese </p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
        <div class="col-md-4">
          <h3>Matter Paneer</h3>
          <p>Home Made Cheese Cooked In Onion Gravy With Green Peas</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
        <div class="col-md-4">
          <h3>Chilli Paneer</h3>
          <p>Home Made Cheese Cooked With Bell Pepper, Ginger, Garlic, Onion, Tomatoes In House Special Spices</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
        <div class="col-md-4">
          <h3>Paneer Bhurji</h3>
          <p>Cottage Cheese Cooked With Ginger, Garlic, Tomato, Peas And Traditional Indian Spices</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                <div class="col-md-4">
          <h3>Chana Masala</h3>
          <p>White Chickpeas Cooked With Onion, Tomatoes, Indian Spices And Garnished With Fresh Cilantro</p>
          <p class="text-right price"><b>Price :</b>$8.99</p>
        </div>
                <div class="col-md-4">
          <h3>Chana Saag</h3>
          <p>Fresh Chopped Spinach Cooked With Garbanzo Beans</p>
          <p class="text-right price"><b>Price :</b>$8.99</p>
        </div>
                <div class="col-md-4">
          <h3>Punjabi Rajmah</h3>
          <p>Red Kidney Beans Cooked In Traditional Indian Spices</p>
          <p class="text-right price"><b>Price :</b>$8.99</p>
        </div>
                <div class="col-md-4">
          <h3>Toor Ki Dal</h3>
          <p>Yellow Lentil Soup Cooked With Curry Leaves, Dry Whole Red Chillies In Traditional Indian Spices</p>
          <p class="text-right price"><b>Price :</b>$8.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Tadka Dal</h3>
          <p>Traditional North Indian Style Yellow Lentil Tempered With Onion, Ginger, Garlic And Special Spices</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Dal Makhni</h3>
          <p>Traditional Black Lentils Simmered On Low Fire With Tomato, Red Chillies, Ginger And Garlic </p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                                <div class="col-md-4">
          <h3>Spinach Dal</h3>
          <p>Yellow Lentils Cooked With Fresh Spinach And Traditional Indian Spices </p>
          <p class="text-right price"><b>Price :</b>$8.99</p>
        </div>
                                <div class="col-md-4">
          <h3>Kadhi Pakora</h3>
          <p>Chickpea Flour And Yogurt Based Traditional Indian Curry With Mix Veg</p>
          <p class="text-right price"><b>Price :</b>$8.99</p>
        </div>
                                <div class="col-md-4">
          <h3>Punjabi Tadka Saag</h3>
          <p>Garden Fresh Spinach And Mustard Cooked With Ginger, Garlic, Onion,
Tomato With Special Punjabi Tadka</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
      </div>

      <div class="row menu-items">
        <p class="text-center course-heading">Breads</p>
        <div class="col-md-4">
          <h3>Spinach Paratha</h3>
          <p>Pan Cooked Whole Wheat Bread Stuffed With Fresh Spinach And Special Mixtures Of Spices</p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div>
                <div class="col-md-4">
          <h3>Methi Paratha</h3>
          <p>Pan Cooked Whole Wheat Bread Stuffed With Fenugreek And Special Mixtures 
Of Spices</p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div>
                <div class="col-md-4">
          <h3>Aloo Paratha</h3>
          <p>Pan Cooked Whole Wheat Bread Stuffed With Spiced Mashed Potatoes And Herbs </p>
          <p class="text-right price"><b>Price :</b>$4.99</p>
        </div>
                <div class="col-md-4">
          <h3>Mulli Paratha</h3>
          <p>Pan Cooked Whole Wheat Bread Stuffed With Grated Radish And Spices</p>
          <p class="text-right price"><b>Price :</b>$4.99</p>
        </div>
                <div class="col-md-4">
          <h3>Gobi Paratha</h3>
          <p>Cauliflower Minced With Special Spices Stuffed In Whole Wheat Flour</p>
          <p class="text-right price"><b>Price :</b>$4.99</p>
        </div>
                <div class="col-md-4">
          <h3>Hara Bhara Paratha</h3>
          <p>Pan Cooked Whole Wheat Bread Stuffed With A Mix Of Spiced Vegetables</p>
          <p class="text-right price"><b>Price :</b>$4.99</p>
        </div>
                <div class="col-md-4">
          <h3>Paneer Paratha</h3>
          <p>Pan Cooked Whole Wheat Bread Stuffed With Home Made Cheese, Onions And Special Mixtures Of Spices</p>
          <p class="text-right price"><b>Price :</b>$4.49</p>
        </div>
                <div class="col-md-4">
          <h3>Plain Paratha</h3>
          <p>Pan Cooked Whole Wheat Bread</p>
          <p class="text-right price"><b>Price :</b>$2.49</p>
        </div>
                <div class="col-md-4">
          <h3>Tawa Roti (2)</h3>
          <p>Traditional Whole Wheat Indian Bread</p>
          <p class="text-right price"><b>Price :</b>$1.49</p>
        </div>
                <div class="col-md-4">
          <h3>Makki Di Roti</h3>
          <p>Pan Cooked Corn Flour Flat Bread </p>
          <p class="text-right price"><b>Price :</b>$1.49</p>
        </div>
                        <div class="col-md-4">
          <h3>Masala Roti</h3>
          <p>Traditional Whole Wheat Indian Bread With Spices </p>
          <p class="text-right price"><b>Price :</b>$2.49</p>
        </div>
                        <div class="col-md-4">
          <h3>Spinach Poori (2)</h3>
          <p>Puffed Deep Fried Whole Wheat Bread With Spinach</p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Methi Poori (2)</h3>
          <p>Puffed Deep Fried Whole Wheat Bread With Fenugreek</p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Poori (2)</h3>
          <p>Puffed Deep Fried Whole Wheat Bread </p>
          <p class="text-right price"><b>Price :</b>$2.49</p>
        </div>
                        <div class="col-md-4">
          <h3>Bhatura (2)</h3>
          <p>Puffed Leavened Deep Fried Bread</p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Plain Naan / Butter Naan</h3>
          <p>White Flour Bread Baked In Charcoal Fired Clay Oven </p>
          <p class="text-right price"><b>Price :</b>$2.49</p>
        </div>
                        <div class="col-md-4">
          <h3>Garlic Naan</h3>
          <p>Clay Oven Leavened Bread With Garlic And Herbs</p>
          <p class="text-right price"><b>Price :</b>$2.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Chilli Thyme Naan</h3>
          <p>Leavened Bread With Chili, Thyme And Spices</p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Pesto Naan</h3>
          <p>Leavened Bread With Basil Pesto And Parmesan</p>
          <p class="text-right price"><b>Price :</b>$4.49</p>
        </div>
                        <div class="col-md-4">
          <h3>Lacha / Ajwain Paratha</h3>
          <p>Flaky And Layered Whole Wheat Bread </p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Kulcha (Potato / Onion)</h3>
          <p>Leavened Clay Oven Bread Stuffed With Choice Of Filling And Herbs</p>
          <p class="text-right price"><b>Price :</b>$4.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Tandoori Roti</h3>
          <p>Traditional Whole Wheat Indian Bread Made In Clay Oven </p>
          <p class="text-right price"><b>Price :</b>$2.49</p>
        </div>
                        <div class="col-md-4">
          <h3>Bread Basket</h3>
          <p>Butter Naan, Garlic Naan And Lacha Paratha </p>
          <p class="text-right price"><b>Price :</b>$8.49</p>
        </div>
                                <div class="col-md-4">
          <h3>Jeera Rice</h3>
          <p>Steamed Basmati Rice With Cumin</p>
          <p class="text-right price"><b>Price :</b>$2.99</p>
        </div>
                                <div class="col-md-4">
          <h3>Raita</h3>
          <p>Yogurt With Carrot, Cucumber, Potatoes And Special Spices</p>
          <p class="text-right price"><b>Price :</b>$2.99</p>
        </div>                        
        <div class="col-md-4">
          <h3>Roasted Papadum</h3>
          <p>Roasted Punjabi Lentil Crackers Served With Chutneys</p>
          <p class="text-right price"><b>Price :</b>$1.99</p>
        </div>

      </div>

            <div class="row menu-items">
        <p class="text-center course-heading">Indo-Chinese</p>
        <div class="col-md-4">
          <h3>Veg Manchurian Dry</h3>
          <p>Crispy Mixed Veg Bowl With Green Onion, Soy, Garlic And Chef Special Manchurian Sauce</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                <div class="col-md-4">
          <h3>Veg Manchurian Gravy</h3>
          <p>Crispy Mixed Veg Bowl With Veg N Chaat Cuisine Special Gravy </p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                <div class="col-md-4">
          <h3>Gobi Manchurian Dry</h3>
          <p>Crispy Cauliflower Florets, Green Onion, Soy, Garlic And Chef Special Manchurian Sauce</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>

                        <div class="col-md-4">
          <h3>Gobi Manchurian Gravy</h3>
          <p>Crispy Cauliflower Florets With Veg N Chaat Cuisine Special Gravy</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Baby Corn Manchurian</h3>
          <p>Batter Fried Baby Corn Tossed In Chef Special Sauce</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Fried Rice</h3>
          <p>The Classical Basmati Rice Tossed With Assortment Green Vegetables </p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Schezwan Fried Rice</h3>
          <p>The Classical Basmati Rice Tossed With Assortment Green Vegetables And 
Chef Special Schezwan Sauce</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Hakka Noodle</h3>
          <p>Noodles Tossed With An Assortment Of Shredded Vegetables And Soya Sauce</p>
          <p class="text-right price"><b>Price :</b>$8.99</p>
        </div>
                        <div class="col-md-4">
          <h3>Schezwan Noodle</h3>
          <p>Noodles Tossed With An Assortment Of Shredded Vegetables And Chef Special Schezwan Sauce</p>
          <p class="text-right price"><b>Price :</b>$8.99</p>
        </div>
      </div>

      <div class="row menu-items">
        <p class="text-center course-heading">Soups And Salads</p>
        <div class="col-md-4">
          <h3>Fresh Tomato Soup</h3>
          <p>Veg N Chaat Cuisine Fresh Tomato Soup</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

        <div class="col-md-4">
          <h3>Veg Manchow Soup</h3>
          <p>Chinese Style Thick Soup Topped With Crispy Fried Noodles </p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

        <div class="col-md-4">
          <h3>Green Salad</h3>
          <p>Fresh Green Salad</p>
          <p class="text-right price"><b>Price :</b>$4.99</p>
        </div>

        <div class="col-md-4">
          <h3>Mango Olive Salad</h3>
          <p>Juliennes Of Mango, Cucumber, Olives, Bell Pepper, Olive Oil, Mint And House Dressing</p>
          <p class="text-right price"><b>Price :</b>$6.99</p>
        </div>

    </div>

      <div class="row menu-items">
        <p class="text-center course-heading">Snack Combo</p>
        <div class="col-md-4">
          <h3>Snack Combo</h3>
          <p>Choice Of Any Two Snack From List And Papad With Choice Of Soda, Tea Or Chaas
(Dahi Papdi Chaat / Pani Poori / Bhel Poori / Dahi Bateta Sev Poori / Sev Poori / Masala Chaat / Hara Bhara Bhel / Sprouts Bhel)</p>
          <p class="text-right price"><b>Price :</b>$11.99</p>
        </div>
       </div> 

             <div class="row menu-items">
        <p class="text-center course-heading">Veg N Chaat Cuisine Thalis</p>
        <div class="col-md-4">
          <h3>House Thali</h3>
          <p>Two Vegetables, 1 Plain Paratha Or 2 Rotis, Dal, Rice, Raita, Home Style Mint Chutney, 
Papad And Kheer With Choice Of Soda, Chaas Or Tea</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>

          <div class="col-md-4">
          <h3>Bhel Thali</h3>
          <p>Bhel, Two Vegetables, 1 Plain Paratha Or 2 Rotis, Kadhi, Rice, Raita, Home Style 
Mint Chutney, Papad And Kheer With Choice Of Soda, Chaas Or Tea </p>
          <p class="text-right price"><b>Price :</b>$11.99</p>
        </div>

       </div> 
      <div class="row menu-items">
        <p class="text-center course-heading">Wraps</p>

        <div class="col-md-4">
          <h3>Chilli Paneer Wrap</h3>
          <p>Chilli Paneer Wrapped In Plain Paratha Or Spinach Paratha Served With Chaas Or Soda </p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>

                <div class="col-md-4">
          <h3>Paneer Tikka Wrap</h3>
          <p>Cottage Cheese And Green Vegetables Cooked In A Clay Oven With Herbs And Spices; Served With Chaas Or Soda</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>

                <div class="col-md-4">
          <h3>Paneer Bhurji Wrap</h3>
          <p>Fresh Homemade Mashed Cheese Cooked With Spices, Wrapped In Plain Paratha Or Spinach Paratha Served With Chaas Or Soda</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
      </div>

      <div class="row menu-items">
        <p class="text-center course-heading">Tandoori Sizzlers</p>

                <div class="col-md-4">
          <h3>Tandoori Paneer Tikka</h3>
          <p>Marinated Cheese Cubes, Roasted Bell Pepper, Onion And Spices  </p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>

                        <div class="col-md-4">
          <h3>Tandoori Veggies Grill</h3>
          <p>Herbs Marinated Cauliflower, Broccoli, Bell Pepper, Onion And Cheese </p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>
      </div>

            <div class="row menu-items">
        <p class="text-center course-heading">Special Items</p>

                <div class="col-md-4">
          <h3>Chana Bhatura</h3>
          <p>Garbanzo Beans Cooked In Special Blend Of Spices Served With Puffed Leavened Bread </p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>

        <div class="col-md-4">
          <h3>Methi Poori With Bhaji</h3>
          <p>Puffed Deep Fried Whole Wheat Bread With Fenugreek Served With Spiced Potatoes </p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>

                <div class="col-md-4">
          <h3>Poori Bhaji</h3>
          <p>Puffed Deep Fried Whole Wheat Bread Served With Spiced Potatoes</p>
          <p class="text-right price"><b>Price :</b>$8.99</p>
        </div>

                <div class="col-md-4">
          <h3>Pav Bhaji With Papad</h3>
          <p>Mixture Of Vegetables, Boiled, Mashed And Cooked With Spices Served With Bun </p>
          <p class="text-right price"><b>Price :</b>$8.99</p>
        </div>

                <div class="col-md-4">
          <h3>Makki Di Roti & Saag</h3>
          <p>Two Corn Flat Bread Served With Garden Fresh Mustard And Spinach </p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>

                <div class="col-md-4">
          <h3>Amritsari Kulcha Chole</h3>
          <p>Leavened Clay Oven Bread Stuffed With Potato And Onion And Served With Spiced Chickpeas </p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>

                <div class="col-md-4">
          <h3>Dal Dokhli</h3>
          <p>Whole Wheat Bread Served With Spiced Lentil Soup, Garnished With Vegetables </p>
          <p class="text-right price"><b>Price :</b>$8.99</p>
        </div>

                        <div class="col-md-4">
          <h3>Khichdi</h3>
          <p>Rice And Lentils Cooked Together With Special Spices </p>
          <p class="text-right price"><b>Price :</b>$8.99</p>
        </div>

                        <div class="col-md-4">
          <h3>Kadhi Chaval</h3>
          <p>Chickpea Flour And Yogurt Based Traditional Indian Curry With Mix Veg Fritters Served With Basmati Rice  </p>
          <p class="text-right price"><b>Price :</b>$8.99</p>
        </div>

                        <div class="col-md-4">
          <h3>Rajmah Chaval</h3>
          <p>Red Kidney Beans Cooked In Traditional Indian Spices Served With Basmati Rice</p>
          <p class="text-right price"><b>Price :</b>$8.99</p>
        </div>
        
        <div class="col-md-4">
          <h3>Veg Biryani</h3>
          <p>Assortment Vegetables Mixed With Saffron Flavored Basmati Rice</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>

      </div>

       <div class="row menu-items">
        <p class="text-center course-heading">South Express</p>

        <div class="col-md-4">
          <h3>Dahi Vada</h3>
          <p>Sweet Yogurt, Lentil Crispy And Fluffy Fritters With Chutney</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

                <div class="col-md-4">
          <h3>Idly Sambar</h3>
          <p>Fermented Steamed Rice And Lentil Patties Served With Sambar And Chutneys</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

                <div class="col-md-4">
          <h3>Batata Vada With Sambar</h3>
          <p>Spiced Potato Balls Served With Sambar And Chutneys </p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

                <div class="col-md-4">
          <h3>Vada Sambar</h3>
          <p>Lentil Crispy And Fluffy Fritters Soaked In Tasty And Tangy Sambar</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>

                <div class="col-md-4">
          <h3>Curd Rice</h3>
          <p>Curd Mix With Steamed Basmati Rice And Tempered With Lentil, Curry Leaves, Mustard Seeds, Green Chillies And Served Chilled</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>
      </div>

 <div class="row menu-items">
        <p class="text-center course-heading">Maharashtrian Items</p>

        <div class="col-md-4">
          <h3>Zunka Bhakar</h3>
          <p>Flat Breads Made From Millet Flour Served With Cooked Gram Flour Curry, Authentic Marathi Spices Served With Curd And Papadum</p>
          <p class="text-right price"><b>Price :</b>$9.99</p>
        </div>

                <div class="col-md-4">
          <h3>Kande Pohe</h3>
          <p>Soaked Rice Flakes Sauteed With Onions And Spices</p>
          <p class="text-right price"><b>Price :</b>$4.99</p>
        </div>

                <div class="col-md-4">
          <h3>Bajra Bhakar</h3>
          <p>Pan Cooked Flat Bread Made From Millet Flour</p>
          <p class="text-right price"><b>Price :</b>$2.49</p>
        </div>

                <div class="col-md-4">
          <h3>Sabudana Khichdi</h3>
          <p>Sago Cooked With Potatoes, Peanuts,Cumin Seeds, Green Chillies With Spices; Served With Curd</p>
          <p class="text-right price"><b>Price :</b>$7.99</p>
        </div>

                <div class="col-md-4">
          <h3>Shrikhand Poori</h3>
          <p>Hung And Strained Yogurt Flavored With Saffron And Cardamom Served With Puffed Pooris</p>
          <p class="text-right price"><b>Price :</b>$7.99</p>
        </div>

                <div class="col-md-4">
          <h3>Shrikhand</h3>
          <p>A Classic Indian Sweet Dish Made Of Hung And Strained Yogurt Flavored With Saffron And Cardamom</p>
          <p class="text-right price"><b>Price :</b>$4.99</p>
        </div>
  </div>

   <div class="row menu-items">
        <p class="text-center course-heading">Exotic Refreshments</p>
        <div class="col-md-4">
          <h3>Masala Chai</h3>
          <p>Delicious Traditional Indian Tea Made With Milk, Cardamom And Special Kind 
Of Indian Herbs</p>
          <p class="text-right price"><b>Price :</b>$2.99</p>
        </div>
        <div class="col-md-4">
          <h3>Indian Coffee</h3>
          <p>ndian Style Steamed Milk Coffee</p>
          <p class="text-right price"><b>Price :</b>$2.99</p>
        </div>
        <div class="col-md-4">
          <h3>Soda</h3>
          <p>Coke, Diet Coke, Sprite, Fanta, Lemonade, Minute Maid 100% Juice</p>
          <p class="text-right price"><b>Price :</b>$1.99</p>
        </div>
        <div class="col-md-4">
          <h3>Chaas</h3>
          <p>Cumin Flavored Spiced Buttermilk </p>
          <p class="text-right price"><b>Price :</b>$2.99</p>
        </div>
        <div class="col-md-4">
          <h3>Mango Lassi</h3>
          <p>Classic Yogurt Drink Flavored With Mango</p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div>
        <div class="col-md-4">
          <h3>Khus Lassi</h3>
          <p>Classic Yogurt Drink Flavored With Poppy Seeds</p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div>
        <div class="col-md-4">
          <h3>Gulab Lassi</h3>
          <p>Classic Yogurt Drink Flavored With Rose</p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div>
        <div class="col-md-4">
          <h3>Badam Milk</h3>
          <p>Chilled Milk Flavored With Almond, Saffron And Nuts</p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div>
        <div class="col-md-4">
          <h3>Faluda Drink</h3>
          <p>Rose Flavored Milk With Ice Cream, Vermicelli And Nuts</p>
          <p class="text-right price"><b>Price :</b>$4.99</p>
        </div>
        <div class="col-md-4">
          <h3>Mango Mojito</h3>
          <p>Sugar Syrup, Fresh Mint And Mango</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>
        <div class="col-md-4">
          <h3>Strawberry Mojito</h3>
          <p>Fresh Mint, Sugar Syrup And Strawberry</p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>
        <div class="col-md-4">
          <h3>Blueberry Mojito</h3>
          <p>Fresh Mint, Lime Wedge, Sugar Syrup And Blueberry </p>
          <p class="text-right price"><b>Price :</b>$5.99</p>
        </div>
    </div>  
  <div class="row menu-items">
        <p class="text-center course-heading">Desserts</p>
        <div class="col-md-4">
          <h3>Banana Split</h3>
          <p>Three Flavored Ice Cream Scoops Edged With Banana And Toppings With Nuts</p>
          <p class="text-right price"><b>Price :</b>$6.99</p>
        </div>
                <div class="col-md-4">
          <h3>Malai Kulfi</h3>
          <p>ndian Style Rich And Creamy Ice Cream With Special Toppings</p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div>
                <div class="col-md-4">
          <h3>Ice Cream</h3>
          <p>Strawberry, Butterscotch And Choclate Flavored</p>
          <p class="text-right price"><b>Price :</b>$4.99</p>
        </div>
                <div class="col-md-4">
          <h3>Faluda Kulfi</h3>
          <p>Indian Style Rich And Creamy Ice Cream Topping With Rose Flavored Vermicelli</p>
          <p class="text-right price"><b>Price :</b>$4.99</p>
        </div>
                <div class="col-md-4">
          <h3>Kheer</h3>
          <p>A Light Dessert Of Milk With Basmati Rice And Flavored With Cardamom, Almond And Saffron</p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div>
                <div class="col-md-4">
          <h3>Ras Malai</h3>
          <p>Cheese Dumplings In Sweetened And Thickened Milk</p>
          <p class="text-right price"><b>Price :</b>$4.99</p>
        </div>
                <div class="col-md-4">
          <h3>Gulab Jamun</h3>
          <p>Dry Milk And Fried Cottage Cheese Dumplings Soaked In Rose Flavored Sugar Syrup</p>
          <p class="text-right price"><b>Price :</b>$3.99</p>
        </div>
                <div class="col-md-4">
          <h3>Gajjar Halwa</h3>
          <p>A Delicious Indian Dessert Made With Grated Carrots, Whole Milk, Dried Fruits And Nuts</p>
          <p class="text-right price"><b>Price :</b>$4.99</p>
        </div>
      </div>
{% endblock content %}